.filterContainer {
  width: 250px;
  margin-right: 24px;
}

.filterTitle {
  margin: 24px 0 16px;
  font-family: Open Sans;
  font-size: 16px;
  font-weight: 400;
  line-height: 22px;
  letter-spacing: 0.05em;
  color: #333333;
}