@import "./reset.scss";

:root {
  position: relative;
  --gray-color: #00000080;
  --gray2-color: #666666;
  --primary-color: #00C0EE;
}


* {
  padding: 0px;
  margin: 0px;
  box-sizing: border-box;
  font-family: "Open Sans", sans-serif;
}