$breakpoints: (
  (1270px, 100px),
  (1150px, 80px),
  (1110px, 60px),
  (1070px, 40px),
  (1024px, 150px),
  (915px, 100px),
  (815px, 55px),
  (725px, 50px),
  (625px, 32px),
  (500px, 16px)
);

.productsMain {
  display: flex;

  @each $bp in $breakpoints {
    @media (max-width: #{nth($bp, 1)}) {
      padding: 0 nth($bp, 2);
    }
  }
}